@page
@model CinemaBooking.UI.Pages.ShowTimeModel

<h1>@Model.movie.Title</h1>
<p>@Model.movie.Description</p>
<div>
    <label>Rating:</label>
    <span>@Model.movie.Ratings</span>
</div>
<div>
    @foreach(var showTime in @Model.showTimes)
    {
        <a asp-page="BookShow" asp-route-showTimeId="@showTime.ShowTimeId">@showTime.ShowDateTime</a>
    }
</div>