@page
@model CinemaBooking.UI.Pages.Screen.DetailsModel

<h1>@Model.Screen.Title</h1>

@foreach(var seat in @Model.Screen.Seats)
{
    <a asp-page="/Seat/Booking" asp-page-handler="BookSeat" 
            asp-route-screenId="@Model.Screen.ScreenId"
            asp-route-seatId="@seat.SeatId">@seat.Title</a>
}

